[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/pyxiaoyuzhou
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5678 -m 007 wsgi:app

[Install]
WantedBy=multi-user.target